<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

    <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
    </style>

  </head><body>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/fazenda">Fazenda</a>
              </li>
              <li>
                <a href="/fotos">Fotos</a>
              </li>

            </ul>
          </div>
        </div>
      </div>



      {{{body}}}


          <footer class="section section-primary">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <h1>Henrique Avena</h1>
                  <p><a href="mailto:jhavena@gmail.com">ha@henriqueavena.com</a>
                    <br>71 99991 7100 (Vivo) &nbsp;/ &nbsp;71 99106 7110 (Tim)&nbsp;
                    <br>77 3638 1045 (Fazenda) &nbsp;&nbsp;</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-info text-right">
                    <br>
                    <br>
                  </p>
                  <div class="row">
                    <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                      <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                      <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                      <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                      <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>


      </body></html>
