<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

  </head><body>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="active">
                <a href="/fazenda">Fazenda</a>
              </li>
              <li class="active">
                <a href="/fotos">Fotos</a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="map"></div>
            <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: -12.444494, lng: -44.182878},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Localização</h1>

            <p>Localizada no município de Baianópolis-Ba, há cento e vinte quilômetros de Barreiras no sentido Barreiras Santa Maria da Vitória, dista 880 km de Salvador, via BR 242, ao lado do projeto da Jacarezinho Agropecuária (Fazenda Paraíso), do projeto da Brasil Agro (Fazenda Preferência) e da Fazenda RJ.
Baianópolis tem como municípios vizinhos : Tabocas do Brejo Velho, Brejolândia, Serra Dourada, Santana, Canápolis, Santa Maria da Vitória, Catolândia  e Cristópolis. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-primary">Acesso</h1>

            <p>Através da BR 242 (Salvador/Brasília), entrando para a cidade de Baianópolis, por onde se vai pelo asfalto. Daí segue-se pela  BA 464  no sentido Baianópolis/Santana, cortando a localidade conhecida como Cascudeiro, onde há vários plantios de soja, e segue-se para o  distrito de Lagoa Clara de onde se percorre mais treze km até  a propriedade. De Baianópolis até a propriedade são 58 km. Seguindo-se em frente, percorre-se mais 46 km até a cidade de Santana, de onde pelo asfalto chega-se a Sta. Maria da Vitória, adiante 55 km, na direção de Correntina. De Barreiras até à porta da sede da propriedade o percurso é de 120 km, dos quais 62 km no asfalto e 58 km em estrada de chão, onde se trafega bem.  </p>
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Área</h1>
            <p>Sua área total levantada através de georeferenciamento é de 1.888,8380 ha., totalmente plana e assim distribuida :
              <ul>
                <li> 469,3814 ha. de pastagens artificiais, formadas com  braquiária decumbens, braquiarão, roziziense, andropógon e  tifton 85;</li>
                <li>01 ha experimental de café catuaí (5.000 pés com espaçamento 2 x 1), irrigado com água de poço;</li>
                <li>377,7676 ha de  Reserva Legal;</li>
                <li>1.019,4208 ha de área para supressão vegetal;</li>
                <li>6,6804 ha Área de Preservação Permanente;</li>
                <li>15,5878 ha de Estrada Vicinal</li>
              </ul>
              A propriedade é facilmente trafegável em todo o seu perímetro e nas estradas que a divide em oito talhões.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Situação</h1>
            <p class="text-center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <p >Situada em um planalto, com altitude de 813m, tem excelente clima, dentre outras coisas, para a exploração da bovinocultura, da cafeicultura, da fruticultura, atividades já desenvolvidas na propriedade com excelentes resultados. O mesmo  pode-se afirmar sobre a soja e o milho, grãos produzidos em  escala nas várias propriedades próximas, de produtores rurais do Paraná, Rio Grande do Sul  e Minas Gerais, com  resultados  muito satisfatórios.
Há farta disponibilidade de água potável no seu sub-solo, inclusive para irrigação.
O  regime de chuvas da região é definido, de outubro à março, com índice pluviométrico variando de 1.150mm à 1.450mm, de acôrdo com nossos registros dos  últimos quinze anos.
A propriedade é toda cercada, escriturada e georeferenciada, já com averbação no Cartório de Registro de Imóveis do Município de Baianópolis.</p>
          </div>
          <div class="col-md-6">
            <p><b>A Fazenda está REGULAMENTADA COM RELAÇÃO  AS EXIGÊNCIAS AMBIENTAIS, de acordo com projeto elaborado pela empresa Ambiental Line e com base nas LEIS atuais.
Aguardando liberação para retirada de 6.000m3 de Madeira, em 1.019 hectares, para implantação de pastagens. A liberação deve sair à qualquer momento.
Aguardando liberação/outorga para abertura de mais dois poços de água, com vazão de 60.000 litros. A liberação deve sair à qualquer momento.
            </b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Benfeitorias</h1>
            <p class="text-center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <h3>Máquinas e Equipamentos</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <p>Todas as benfeitorias da propriedade são de acabamento simples e arquitetura rústica (vide fotos em anexo);
            Curral com 1.600 m2 subdividido em oito ambientes de trabalho, incluindo brete, tronco veterinário, balança para 3.000 kg.( cobertos )  e embarcador. Curral precisa de reforma.
            03 Reservatórios de água : 200 m3 (cimento), 65 m3 (cimento), 5 m3 (taça em chapa de aço), 20 m3 (cilindrico em chapa de aço, com 12m de altura);
            07 Bebedouros de alvenaria de tijolos, para 10 m3 cada um;
            37 km de cêrcas de arame farpado;
            7.000 horas trabalhadas com trator de esteiras ( Komat`su D 50 ) na derrubada de matas, encoivaramento, derrubada de murundús e gradeação para formação de pastagens, e abertura de estradas;
            Casa séde toda avarandada, com dois quartos, sala, cozinha, banheiro e quarto de apôio para motorista;
            Casa nova cor de rosa, com 05 quartos, dois banheiros, sala, cozinha, área de serviço e varanda na frente;
            Conjunto Linear de alvenaria, composto de :  cozinha, banheiro,  depósito, cinco quartos para acomodações de trabalhadores e área coberta dos grupos geradores;
            Casa com dois quartos na área da casa sede;
            Quatro tanques/cacimba nas áreas 1,2,7 e 8, feitos com lâmina do trator de esteiras,  para captação de água no período das chuvas;
            Pôço artesiano com vazão  de 12 m3/hora.
          </p>
          </div>
          <div class="col-md-6">

            <p>
                <li>Grupo Gerador de 12,5 kwa, motor Tobatta BS 180 com gerador Kohlbach;</li>
                <li>Grupo Gerador 12 Kwa, motor Agrale M790 com gerador Kohlbach;</li>
                <li>Bomba submersa Ebara, motor de 6 HP, trifásico, modêlo M6P;</li>
                <li>Tubulação e mangueiras da irrigação de  01 ha de café;</li>
                <li>Tronco Veterinário marca Texas;</li>
                <li>Balança  Texas para 3.000 kg;</li>
                <li>Tanque Reservatório para öleo Diesel com capacidade para 5.000l;</li>
                <li>Galpão com 450 m2 de área coberta, 6 m de altura, construido com postes de concreto e cobertura em aço, com telhas de alumínio(ainda sem paredes laterais)</li>
</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Henrique Avena</h1>
            <p><a href="mailto:jhavena@gmail.com">ha@henriqueavena.com</a>
              <br>71 99991 7100 (Vivo) &nbsp;/ &nbsp;71 99106 7110 (Tim)&nbsp;
              <br>77 3638 1045 (Fazenda) &nbsp;&nbsp;</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>


</body></html>
