<!DOCTYPE HTML>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/scripts.js"></script>
  </head><body>
    <div class="cover">
      <div class="navbar main_header">
        <div class="container">
          <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span>Home</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li class="active">
                <a href="/fazenda">Fazenda</a>
              </li>
              <li class="active">
                <a href="/fotos">Fotos</a>
              </li>
              <li>
                <a href="#">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image : url('/img/cover.png')"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-info titulo_main">Fazenda Paraíso do Planalto</h1>
            <p class="text-inverse"></p>
            <br>
            <br>
            <button class="btn btn-lg btn-primary" id="slide_down_button">
              <i class="glyphicon glyphicon-arrow-down"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="section about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/img/bahia_oeste.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Oeste da Bahia, Terra das Oportunidades</h1>
            <h3>Mesorregião do Extremo Oeste Baiano</h3>
            <p>A mesorregião do Extremo Oeste Baiano é uma das sete mesorregiões do estado
              brasileiro da Bahia. É formada pela união de 24 municípios agrupados em
              três microrregiões. Esta vasta região baiana pertenceu ao Estado de Pernambuco
              até meados de 1824. Após três anos sob administração mineira foi anexada
              ao Estado da Bahia em 1827. Os principais municípios são: Barreiras,Luís
              Eduardo Magalhães, Bom Jesus da Lapa, Barra e Santa Maria da Vitória.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-primary">Microrregiões</h1>
            <ul>
              <li>Barreiras</li>
              <li>Cotegipe</li>
              <li>Santa Maria da Vitória</li>
            </ul>
            <h1 class="text-primary">Hidrografia</h1>
            <p>A Região Oeste da Bahia fica à margem esquerda do Rio São Francisco, banhada
              pelas bacias dos rios Grande, Preto, Corrente e Carinhanha, formada por
              29 rios perenes. Geograficamente está inserida na região mais rica em recursos
              hídricos do Nordeste Brasileiro. As bacias desses rios atingem 62.400 km²
              o que eqüivale a 82% das áreas dos cerrados.</p>
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Economia</h1>
            <p>Graças a esta privilegiada bacia hidrográfica, à topografia plana e ao
              clima com estações definidas, foi possível a expansão das lavouras de sequeiro
              e a implantação dos projetos de irrigação, especialmente nos municípios
              de Barreiras e São Desidério. Nas duas últimas décadas, o cultivo de grãos
              juntamente com a pecuária, definiram uma nova dinâmica à economia de toda
              a região, o que impulsionou o processo de crescimento e desenvolvimento
              econômico das três microrregiões (Barreiras, Santa Maria, Barra), sendo
              a de Barreiras, com 16 municípios, a principal, que é hoje a maior expressão
              do desenvolvimento da região.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center text-primary">Administração</h1>
            <p class="text-center"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <img src="/img/perfil_kiko.png" class="center-block img-circle img-responsive">
            <h3 class="text-center">John Doe</h3>
            <p class="text-center">Developer</p>
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Sobre</h1>
            <p>Henrique Seixas Avena...
              <br>
              <br>Sobre ....
              <br>
              <br>Informacoes...
              <br>Dados
              <br>Experiencia....
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
   
    <footer class="section section-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Henrique Avena</h1>
            <p>ha@henriqueavena.com
              <br>71 99991 7100 (Vivo) &nbsp;/ &nbsp;71 99106 7110 (Tim)&nbsp;
              <br>77 3638 1045 (Fazenda) &nbsp;&nbsp;</p>
          </div>
          <div class="col-sm-6">
            <p class="text-info text-right">
              <br>
              <br>
            </p>
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
                <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  

</body></html>