<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns:xalan="http://xml.apache.org/xslt"><head><title>Henrique Avena</title><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><meta name="description" value="Fazenda Para&amp;iacute;so do Planalto"><meta name="keywords" content="Pecu&amp;aacute;ria,bovinocultura,oeste,bahia,barreiras,maracuj&amp;aacute; irrigado"><link rel="icon" type="image/x-icon" href="meusarquivos/favicon.ico"><link rel="shortcut icon" type="image/x-icon" href="meusarquivos/favicon.ico"></head><style type="text/css">
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.bgmenu {
	background-image: url(imagens/bg_menu.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.bgtopo {
	background-image: url(meusarquivos/FPP 01 Abril 2004 002.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.borda{
    background-color: #FFFFFF;
}
.bordaclara{
    background-color: #EBFFCF;
}
.bordanormal{
    background-color: #558F02;
}
.bordaescura{
    background-color: #006C19;
}
.menu{
    background-color: #FFFFFF;
}
.menutitulo{
	font-size: 12px;
	color: #558F02;
	font-weight: bold; /* normal, bold */
	text-decoration: none; /* none, underline */
}
.menutitulo:hover{
	text-decoration: underline; /* none, underline */
}
.menutitulo2{
	font-size: 12px;
	color: #000000;
	font-weight: bold; /* normal, bold */
	text-decoration: none; /* none, underline */
}
.menutitulo2:hover{
	text-decoration: underline; /* none, underline */
}

/* caixa de logotipo quando uma cor de fundo claro a cor da fonte pé escura */
.logotipo {
    background-color: #FFFFFF;
}
.logotipotitulo {
	font-size: 24px;
	color: #558F02;
	text-decoration: none;
}

/* caixa de textos cor dos fundos sempre igual  ao do template */
.apresentacao, .contato {
    background-color: #ACD86D;
} 

.apresentacaotitulo, .contatotitulo {
	font-size: 11px;
	color: #558F02;
	font-weight: bold; 
	text-decoration: none; 
}
.enderecotitulo{
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold; 
	text-decoration: none; 
}

/* caixa de foquete quando uma cor de fundo claro a cor da fonte pé escura */
.conteudos {
    background-color: #ACD86D;
} 
.conteudostitulo {
	font-size: 18px;
	color: #558F02;
	text-decoration: none;
}

/* caixa de conteúdo quando uma cor de fundo claro a cor da fonte pé escura */
.conteudo, .faleconosco {
    background-color: #FFFFFF;
}
.conteudotitulo, .faleconoscotitulo {
	font-size: 12px;
	color: #558F02;
	text-decoration: none;
}
.conteudoconteudo, .faleconoscoconteudo {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}
.conteudolink, .faleconoscolink {
	font-size: 10px;
	color: #558F02;
	text-decoration: none;
}
.conteudolink, .faleconoscolink:hover {
	text-decoration: underline;
}
</style><body background="imagens/bg_pagina.gif" leftmargin="0" topmargin="0" rightmargin="0" bottommargin="0"><div align="center"><table width="721" height="100%" border="0" cellpadding="0" cellspacing="0"><tr><td height="10"><img src="imagens/pingo.gif" width="1" height="10"></td></tr><tr><td><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"><tr><td width="9" height="12"><img src="imagens/tl.gif" width="9" height="12"></td>
<td background="imagens/tc.gif" height="12"><img src="imagens/pingo.gif" width="1" height="1"></td>
<td width="9" height="12"><img src="imagens/tr.gif" width="9" height="12"></td>
</tr><tr><td background="imagens/cl.gif" width="9"><img src="imagens/pingo.gif" width="1" height="1"></td>
<td><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="5" bgcolor="#FFFFFF"><tr><td height="80"><table width="100%" border="0" cellspacing="0" cellpadding="5" class="logotipo"><tr><td class="logotipo">
<span class="logotipotitulo"><p>FAZENDA PARAÍSO DO PLANALTO</p></span><br></td></tr></table></td></tr><tr><td height="36"><table width="100%" height="36" border="0" cellpadding="0" cellspacing="0"><tr><td height="3" bgcolor="#EFEFEF"><img src="imagens/pingo.gif" width="1" height="3"></td></tr><tr><td height="30" class="bgmenu"><table width="100%" border="0" cellspacing="5" cellpadding="0"><tr><td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
<td align="center"><b><a class="menutitulo" href="index.html">Oeste da Bahia</a></b></td>
<td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
<td align="center"><b><a class="menutitulo" href="a_fazenda.html">A Fazenda</a></b></td>
<td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
<td align="center"><b><a class="menutitulo" href="benfeitorias.html">Benfeitorias</a></b></td>
<td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
<td align="center"><b><a class="menutitulo" href="fotos.html">Fotos</a></b></td>
<td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
<td align="center"><b><a class="menutitulo" href="contato.html">Contato</a></b></td>
<td width="1"><img src="imagens/bg_separador.gif" width="1" height="20"></td>
</tr></table></td></tr><tr><td height="3" bgcolor="#EFEFEF"><img src="imagens/pingo.gif" width="1" height="3"></td></tr></table></td></tr><tr><td valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="3" bgcolor="#EFEFEF"><tr><td width="376" valign="top" bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="5" cellpadding="0"><tr valign="top"><td>
<table width="100%" border="0" cellspacing="0" cellpadding="5" class="conteudos"><tr><td class="conteudos"></td></tr></table><table width="100%" border="0" cellspacing="0" cellpadding="5" class="conteudo"><tr><td class="conteudo">
<span class="conteudotitulo"><p><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: underline;"><em><span style="font-family: Arial;">BENFEITORIAS</span></em></span></span></p></span><br><span class="conteudoconteudo"><p class="MsoNormal" style="margin: 0in 0in 0pt;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;"> </span></em></span><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Todas as benfeitorias da propriedade são de acabamento simples e arquitetura rústica (vide fotos em anexo);</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">Curral com </span><span style="font-size: 10pt;" lang="PT-BR">1.600 m2</span><span style="font-size: 10pt;" lang="PT-BR"> subdividido em oito ambientes de trabalho, incluindo brete, tronco veterinário, balança para </span><span style="font-size: 10pt;" lang="PT-BR">3.000 kg</span><span style="font-size: 10pt;" lang="PT-BR">.( cobertos )<span style="mso-spacerun: yes;">  </span>e embarcador. Curral precisa de reforma.<br></span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">03 Reservatórios de água : </span><span style="font-size: 10pt;" lang="PT-BR">200 m3</span><span style="font-size: 10pt;" lang="PT-BR"> (cimento), </span><span style="font-size: 10pt;" lang="PT-BR">65 m3</span><span style="font-size: 10pt;" lang="PT-BR"> (cimento), </span><span style="font-size: 10pt;" lang="PT-BR">5 m3</span><span style="font-size: 10pt;" lang="PT-BR"> (taça em chapa de aço), </span><span style="font-size: 10pt;" lang="PT-BR">20 m3</span><span style="font-size: 10pt;" lang="PT-BR"> (cilindrico em chapa de aço, com 12m de altura);</span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">07 Bebedouros de alvenaria de tijolos, para </span><span style="font-size: 10pt;" lang="PT-BR">10 m3</span><span style="font-size: 10pt;" lang="PT-BR"> cada um;</span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">37 km</span><span style="font-size: 10pt;" lang="PT-BR"> de cêrcas de arame farpado</span><span style="font-size: 10pt;" lang="PT-BR">;</span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">7.000 horas trabalhadas com trator de esteiras ( Komat`su D 50 ) na derrubada de matas, encoivaramento, derrubada de murundús e gradeação para formação de pastagens, e abertura de estradas;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Casa séde toda avarandada, com dois quartos, sala, cozinha, banheiro e quarto de apôio para motorista;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Casa nova cor de rosa, com 05 quartos, dois banheiros, sala, cozinha, área de serviço e varanda na frente;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Conjunto Linear de alvenaria, composto de :<span style="mso-spacerun: yes;">  </span>cozinha, banheiro,<span style="mso-spacerun: yes;">  depósito, </span>cinco quartos para acomodações de trabalhadores e área coberta dos grupos geradores;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in;"><span style="font-size: small;"><em><span style="font-family: arial,helvetica,sans-serif;">Casa com dois quartos na área da casa sede;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Quatro tanques/cacimba nas áreas 1,2,7 e 8, feitos com lâmina do trator de esteiras<span style="mso-spacerun: yes;">,  </span>para captação de água no período das chuvas;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Pôço artesiano com vazão<span style="mso-spacerun: yes;">  </span>de 12 m3/hora.</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em></em></span></p>
<p><span style="font-size: 10pt;" lang="PT-BR"> </span></p>
<h4 style="margin: 0in 0in 0pt; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: underline;"><em></em></span></span></h4>
<h4 style="margin: 0in 0in 0pt; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: underline;"><em></em></span></span></h4>
<h4 style="margin: 0in 0in 0pt; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: underline;"><em></em></span></span></h4>
<h4 style="margin: 0in 0in 0pt; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: underline;"><em><span style="font-family: Arial;">MÁQUINAS E EQUIPAMENTOS</span></em></span></span></h4>
<p class="MsoNormal" style="margin: 0in 0in 0pt; text-align: justify;"><strong><span style="font-size: 10pt;" lang="PT-BR"><span style="text-decoration: none;"><span style="text-decoration: underline;"><em></em></span></span></span></strong></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;"> </span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Grupo Gerador de 12,5 kwa, motor Tobatta BS 180 com gerador Kohlbach;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: small; font-family: arial,helvetica,sans-serif;"><em>Grupo Gerador 12 Kwa, motor Agrale M790 com gerador Kohlbach;</em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Bomba submersa Ebara, motor de 6 HP, trifásico, modêlo M6P;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">Tubulação e mangueiras da irrigação de<span style="mso-spacerun: yes;">  </span></span><span style="font-size: 10pt;" lang="PT-BR">01 ha</span><span style="font-size: 10pt;" lang="PT-BR"> de café;</span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Tronco Veterinário marca Texas;</span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><em><span style="font-family: Arial;"><span style="font-size: 10pt;" lang="PT-BR">Balança<span style="mso-spacerun: yes;">  </span>Texas para </span><span style="font-size: 10pt;" lang="PT-BR">3.000 kg</span><span style="font-size: 10pt;" lang="PT-BR">;</span></span></em></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><span style="font-size: 10pt;" lang="PT-BR"><em><span style="font-family: Arial;">Tanque Reservatório para öleo Diesel com capacidade para 5.000l<span style="font-size: x-small;">;</span></span></em></span></p>
<p class="MsoNormal" style="margin: 3pt 0in; text-align: justify;"><em><span style="font-size: small; font-family: arial,helvetica,sans-serif;"><span>Galp</span></span><span style="font-size: small;">ão com 450 m2 de área coberta, 6 m de altura, construido com postes de concreto e cobertura em aço, com telhas de alumínio(ainda sem paredes laterais)</span></em></p>
<p> </p></span><br><div align="right"><a class="conteudolink" href="http://" target="">         	</a></div>
</td></tr></table></td></tr></table></td></tr></table></td>
<td width="5" bgcolor="#FFFFFF"><img src="imagens/pingo.gif" width="1" height="1"></td>
<td width="300" valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"><tr><td class="bgtopo" id="bgtopo" height="180"><img src="imagens/pingo.gif" width="1" height="1"></td></tr><tr><td height="1"><img src="imagens/pingo.gif" width="1" height="1"></td></tr><tr><td valign="top" bgcolor="#ACD86D"><table width="100%" border="0" cellspacing="10" cellpadding="0"><tr><td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5" class="contato"><tr><td class="contato"><span class="contatotitulo"><p><a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="49212809212c273b20383c2c283f2c2728672a2624">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script></p>
<p>71 99991 7100 (Vivo)</p>
<p>71 3494 7262</p>
<p>71 99106 7110 (Tim)</p>
<p>77 3638 1045<span style="font-size: xx-small;"> (Fazenda)</span></p>
<p> </p></span></td></tr></table></td></tr></table></td></tr></table></td>
<td width="1" bgcolor="#FFFFFF"><img src="imagens/pingo.gif" width="1" height="1"></td>
<td width="5" bgcolor="#558F02"><img src="imagens/pingo.gif" width="5" height="1"></td>
</tr></table></td></tr></table></td>
<td background="imagens/cr.gif" width="9"><img src="imagens/pingo.gif" width="1" height="1"></td>
</tr><tr><td width="9" height="7"><img src="imagens/bl.gif" width="9" height="7"></td>
<td height="7" background="imagens/bc.gif"><img src="imagens/pingo.gif" width="1" height="1"></td>
<td width="9" height="7"><img src="imagens/br.gif" width="9" height="7"></td>
</tr></table></td></tr><tr><td height="30" align="center" class="enderecotitulo"><table width="100%" border="0" cellspacing="0" cellpadding="5" class="endereco"><tr><td class="endereco"><span class="enderecotitulo"><p>www.henriqueavena.com</p></span></td></tr></table></td></tr><tr><td height="10"><img src="imagens/pingo.gif" width="1" height="10"></td></tr></table></div></body></html>
